html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../images/background.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h5,
h1 {
    font-family: 'Rye', cursive;
    font-weight: lighter;
    margin: 0 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(31, 22, 22), 0 0 25px rgb(255, 153, 0), 0 0 5px rgb(255, 0, 212);
}

h1 {
    font-size: 3em;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffe4c7;
    display: inline-block;
}

h1 span {
    font-size: .5em;
}

h5 {
    font-size: 1.2em;
}

footer p {
    text-transform: uppercase;
    font-size: .7em;
    color: rgba(255, 255, 255, 0.907);
    letter-spacing: .08em;
}

.clickBegin {
    margin: 145px 0 0;
    font-weight: 600;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgb(31, 22, 22);
    letter-spacing: .04em;
    color: #fff;
}

.clickBegin p {
    margin: 5px;
}

.clickBegin>p:nth-of-type(2) {
    font-size: .7em;
}

footer {
    margin: auto 0 0;
}

footer,
.title {
    text-align: center;
}

.title {
    width: 600px;
    max-width: 95%;
    margin: 10px auto 0;
    color: #fff;
}

.game-content {
    background: url(../images/wooden\ sign.png) center top no-repeat rgba(255, 255, 255, 0);
    background-size: 650px;
    height: 450px;
    text-align: center;
    color: rgb(221, 221, 221);
    font-weight: 600;
    text-shadow: 1px 1px 3px rgb(31, 22, 22);
    letter-spacing: .04em;
}

.winlose {
    display: flex;
    justify-content: space-between;
    width: 400px;
    text-align: inherit;
    margin: 0 auto;
    font-size: 1.2em;
    text-transform: uppercase;
}

.winlose>p:nth-of-type(1) {
    color: rgb(187, 255, 184);
}

.winlose>p:nth-of-type(2) {
    color: rgb(255, 190, 190);
}

.winlose>p:nth-of-type(3) {
    color: rgb(221, 221, 221);
}

#word {
    font-size: 1.8em;
    letter-spacing: .65em;
    margin: 15px auto 30px;
    font-weight: bolder;
    padding-left: .6em;
    display: inline-block;
    color: #fff;
    /* display and padding used to center text properly - didnt seem to be working otherwise */
}

#guessed {
    letter-spacing: .3em;
}